<% provide(:title, "アーティスト情報編集") %>

<div class="container">
  <div class="wrapper">
    <h2>アーティスト情報編集</h2>
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 artist_area">
      <%= render 'form' %>
    </div>
  </div>
</div>
