<% provide(:title, "イベント作成") %>

<div class="container">
  <div class="wrapper">
    <h2>イベント作成</h2>
      <div class="soutai_area col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
        <%= render 'form' %>
      </div>
  </div>
</div>
