<% provide(:title, "Live!JoinUs!!とは？") %>

<div class="container main">
  <div class="row">
    <div class="tutorial_screen col-md-12 col-sm-12 col-xs-12">
        <p>
          アーティスト(あなた)の為の、<br>
          ライブマッチングサービスです。<br>
          Let's do Live together!!
        </p>
    </div>
    <div class="tutorial_detail_screen col-md-12 col-sm-12 col-xs-12">
      <h1>Live!JoinUn!!って何ができるの？</h1>
    </div>
    <div class="tutorial_detail_screen top_area col-md-12">
      <div class="col-md-3 col-sm-6">
        <h3>自分のニーズに合うイベントに参加できる</h3>
        <p>
          自分のやりたい音楽にマッチしたイベントか事前に知ることで、参加イベントへのギャップを埋める事ができます。
        </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>イベント主催者から出演オファーのチャンスを得られる</h3>
        <p>
          イベント主催者から直接あなたに出演依頼が届くチャンスが！出演オファーを受けたアーティストには、イベント主催者から参加特典があります！
        </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>自分のマイページを持てる</h3>
        <p>
          アーティストの皆様には、自分たちのマイページを持つ事ができます。自分たちの宣伝写真や楽曲、MVをアップロードする事が出来ます。※別途有料でマイページをカスタマイズすることもできます。
        </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h3>アーティスト間のコミュニティを作れる</h3>
        <p>
          このサービスを使っているアーティストとコミュニケーションが取れる「メッセージ機能」や気になるアーティストをピックアップする「お気に入り登録」機能を用意！お互いを知ることでアーティスト間のコミュニティを形成できます！
        </p>
      </div>
    </div>
  </div>
</div>
