.reversenomination_area {
  margin: 10px 10px;
  padding: 10px;
  border: double 10px black;
  margin-bottom: 140px;
  textarea {
    height: 300px;
  }
}

.artist_img {
  width: 300px;
}

.artist_field  {
  text-align: center;
}

.reversenomination_content {
  width: auto;
  p {
    text-align: center;
  }
}

.event_image_area {
  width: auto;
  text-align: center;
}

.reversenomination_caution {
  text-align: center;
  border: inset 10px #ff0000;
  word-wrap: break-word;
}

.tokuten {
  word-wrap: break-word;

}
