<div class="container">
  <div class="wrapper">
    <h2>逆指名送信一覧</h2>
      <div class="col-md-12">
        <% unless @reversenominations.blank? %>
          <% @reversenominations.each do |reversenomination| %>
            <%= reversenomination.event.title %><br>
          <% end %>
        <% else %>
          <h2>逆指名送信を行っていません。</h2>
        <% end %>
      </div>
  </div>
</div>
